<!DOCTYPE html>
<html ng-app="apiApplication">
<head>
    <meta charset="utf-8" />
    <title>Item Statistic</title>
    <script src="/angular/angular.js"></script>
    <script src="/jquery/jquery-2.2.4.js"></script>
    <link href="/bootstrap/bootstrap-3.3.6/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="/js/statistic.js" type="text/javascript"></script>
</head>
<body ng-controller="statisticCtrl">
    <div class="container text-center table-responsive">
        <br /><br />
        <h1>Statistic</h1>
        <br /><br />
        <table class="table table-condensed table-striped table-bordered statistictable">
            <thead><tr><th>Item Type</th><th>Count</th></tr></thead>
            <tbody></tbody>
        </table>
        <br /><br />
        <a href="Items.html" class="pull-right" style="padding-right: 100px">Items</a>
    </div>
</body>
</html>