
body {
}

#itemsControls, #statisticControls {
    margin: 1em;
}

    #itemsControls ul, #statisticControls ul {
        display: inline;
        padding-left: 0.5em;
    }

    #itemsControls li, #statisticControls li {
        display: inline;
        padding: 0 0.5em;
    }

a.pages {
    text-decoration: underline;
}
